$body_background-color: #ffffff;

$tag_field_color: dynamic($form_text_field_color);

// links
$link_color: dynamic(none);
$link_text_decoration: dynamic(none);

$link_visited_color: dynamic($link_color);
$link_visited_text_decoration: dynamic($link_text_decoration);

$link_hover_color: dynamic($link_color);
$link_hover_text_decoration: dynamic(underline);

$link_active_color: dynamic($link_color);
$link_active_text_decoration: dynamic($link_hover_text_decoration);


$panel_body_background_color: $body_background_color;
$treelist_toolstrip_background_color: contrast_color_by($body_background_color, 3);
$color: contrast_color_by($body_background_color, 100);
$tree_glyph_color: contrast_color_by($body_background_color, 50);
$base_color: contrast_color_by($body_background_color, 20);
$neutral_color: contrast_color_by($body_background_color, 7);
$loadmask_background_color: contrast_color_by($body_background_color, 20);
$loadmask_msg_inner_background_color: contrast_color_by($body_background_color, 7);
$loadmask_msg_inner_color: contrast_color_by($body_background_color, 87);
$progress_border_color: contrast_color_by($body_background_color, 44);
$progress_background_color: contrast_color_by($body_background_color, 5);
$progress_bar_background_color: contrast_color_by($body_background_color, 33);
$progress_text_front_color: $body_background_color;
$button_default_base_color: contrast_color_by($body_background_color, 3);
$button_default_base_color_over: contrast_color_by($body_background_color, 5);
$button_default_base_color_pressed: contrast_color_by($body_background_color, 16);
$button_default_border_color: contrast_color_by($body_background_color, 27);
$button_default_border_color_over: contrast_color_by($body_background_color, 38);
$button_default_color: contrast_color_by($body_background_color, 80);
$button_toolbar_color: contrast_color_by($body_background_color, 80);
$splitter_active_background_color: contrast_color_by($body_background_color, 29);
$splitter_collapse_tool_border_color: $body_background_color;
$toolbar_separator_highlight_color: $body_background_color;
$toolbar_text_color: contrast_color_by($body_background_color, 100);
$statusproxy_border_color: contrast_color_by($body_background_color, 100);
$statusproxy_background_color: $body_background_color;
$panel_border_color: contrast_color_by($body_background_color, 18);
$panel_header_color: contrast_color_by($body_background_color, 80);
$panel_frame_background_color: contrast_color_by($body_background_color, 5);
$btn_group_background_color: contrast_color_by($body_background_color, 6);
$btn_group_border_color: contrast_color_by($body_background_color, 18);
$btn_group_inner_border_color: contrast_color_by($body_background_color, 7);
$btn_group_header_color: contrast_color_by($body_background_color, 60);
$btn_group_header_background_color: contrast_color_by($body_background_color, 13);
$window_background_color: contrast_color_by($body_background_color, 9);
$window_body_color: contrast_color_by($body_background_color, 100);
$window_header_color: contrast_color_by($body_background_color, 80);
$form_field_empty_color: contrast_color_by($body_background_color, 50);
$form_field_background_color: $body_background_color;
$form_field_invalid_background_color: $body_background_color;
$messagebox_info_glyph_color: contrast_color_by($body_background_color, 50);
$messagebox_question_glyph_color: contrast_color_by($body_background_color, 50);
$fieldset_header_color: contrast_color_by($body_background_color, 80);
$boundlist_background_color: $body_background_color;
$datepicker_background_color: $body_background_color;
$datepicker_month_button_color: $body_background_color;
$datepicker_item_selected_background_color: contrast_color_by($body_background_color, 15);
$datepicker_item_prev_next_color: contrast_color_by($body_background_color, 33);
$datepicker_item_disabled_color: contrast_color_by($body_background_color, 27);
$datepicker_item_disabled_background_color: contrast_color_by($body_background_color, 7);
$datepicker_column_header_background_color: contrast_color_by($body_background_color, 9);
$datepicker_border_color: contrast_color_by($body_background_color, 65);
$tip_error_background_color: $body_background_color;
$colorpicker_background_color: $body_background_color;
$tag_field_item_selected_color: $body_background_color;
$grid_row_cell_background_color: $body_background_color;
$grid_cell_special_background_color: contrast_color_by($body_background_color, 4);
$grid_empty_color: contrast_color_by($body_background_color, 50);
$grid_resize_marker_background_color: contrast_color_by($body_background_color, 94);
$grid_header_over_background_color: contrast_color_by($body_background_color, 6);
$menu_text_color: contrast_color_by($body_background_color, 87);
$grid_column_header_color: contrast_color_by($body_background_color, 100);
$grid_column_header_focus_border_color: contrast_color_by($body_background_color, 80);
$grid_actioncolumn_icon_glyph_color: contrast_color_by($body_background_color, 50);
$grid_grouped_header_background_color: $body_background_color;
$menu_background_color: contrast_color_by($body_background_color, 6);
$menu_item_active_border_color: contrast_color_by($body_background_color, 38);
$menu_separator_border_color: contrast_color_by($body_background_color, 12);
$menu_separator_background_color: $body_background_color;
$accordion_header_color: contrast_color_by($body_background_color, 100);
$accordion_header_background_color: contrast_color_by($body_background_color, 10);
$accordion_background_color: $body_background_color;
$resizer_handle_glyph_color: contrast_color_by($body_background_color, 75);
$slider_thumb_background_color: $body_background_color;
$tab_base_color: contrast_color_by($body_background_color, 8);
$tab_base_color_disabled: contrast_color_by($body_background_color, 7);
$tab_color_active: contrast_color_by($body_background_color, 80);
$tab_color_disabled: contrast_color_by($body_background_color, 28);
$tab_border_color_disabled: contrast_color_by($body_background_color, 15);
$datepicker_header_background_color: contrast_color_by($body_background_color, 56);
$slider_outline_color_focus: contrast_color_by($body_background_color, 80);
$include_slicer_gradient: $base_gradient;
$loadmask_msg_background_gradient: $base_gradient;
$progress_bar_background_gradient: $base_gradient;
$button_default_background_gradient: $base_gradient;
$button_default_background_gradient_over: $base_gradient;
$button_default_background_gradient_focus: $base_gradient;
$button_default_background_gradient_focus_over: $base_gradient;
$button_default_background_gradient_disabled: $base_gradient;
$button_toolbar_background_gradient: $base_gradient;
$button_toolbar_background_gradient_over: $base_gradient;
$button_toolbar_background_gradient_focus: $base_gradient;
$button_toolbar_background_gradient_focus_over: $base_gradient;
$button_toolbar_background_gradient_disabled: $base_gradient;
$button_grid_cell_background_gradient: $base_gradient;
$button_grid_cell_background_gradient_over: $base_gradient;
$button_grid_cell_background_gradient_focus: $base_gradient;
$button_grid_cell_background_gradient_focus_over: $base_gradient;
$button_grid_cell_background_gradient_disabled: $base_gradient;
$toolbar_background_gradient: $base_gradient;
$panel_header_background_gradient: $base_gradient;
$datepicker_header_background_gradient: $base_gradient;
$datepicker_column_header_background_gradient: $base_gradient;
$datepicker_footer_background_gradient: $base_gradient;
$tip_background_gradient: $base_gradient;
$grid_cell_special_background_gradient: $base_gradient;
$grid_header_background_gradient: $base_gradient;
$grid_header_over_background_gradient: $base_gradient;
$grid_header_sorted_background_gradient: $base_gradient;
$menu_item_background_gradient: $base_gradient;
$tab_background_gradient: $base_gradient;
$tabbar_background_gradient: $base_gradient;
$button_default_background_gradient_pressed: reverse_gradient_for($base_gradient);
$button_default_background_gradient_focus_pressed: reverse_gradient_for($base_gradient);
$button_toolbar_background_gradient_pressed: reverse_gradient_for($base_gradient);
$button_toolbar_background_gradient_focus_pressed: reverse_gradient_for($base_gradient);
$button_grid_cell_background_gradient_pressed: reverse_gradient_for($base_gradient);
$button_grid_cell_background_gradient_focus_pressed: reverse_gradient_for($base_gradient);